In [46]:
import pandas as pd

In [47]:
csv_path = "election_data.csv"
election_data=pd.read_csv(csv_path)
election_data.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [48]:
total_votes=len(election_data ["Voter ID"].value_counts())
total_votes
"Total votes: {}".format(total_votes)

'Total votes: 1048575'

In [49]:
votes_khan=len(election_data[election_data["Candidate"]=="Khan"])
votes_khan
"Khan: {}".format(votes_khan)

'Khan: 661583'

In [50]:
percentage_khan=votes_khan/total_votes
percentage_khan2=("Khan: "+"{:.2%}".format(percentage_khan))
percentage_khan2, votes_khan

('Khan: 63.09%', 661583)

In [51]:
votes_correy=len(election_data[election_data["Candidate"]=="Correy"])
votes_correy
"Correy: {}".format(votes_correy)

'Correy: 209046'

In [52]:
percentage_correy=votes_correy/total_votes
percentage_correy2=("Correy: "+"{:.2%}".format(percentage_correy))
percentage_correy2, votes_correy

('Correy: 19.94%', 209046)

In [53]:
votes_li=len(election_data[election_data["Candidate"]=="Li"])
votes_li
"Li: {}".format(votes_li)

'Li: 146360'

In [54]:
percentage_li=votes_li/total_votes
percentage_li2=("Li: "+"{:.2%}".format(percentage_li))
percentage_li2, votes_li

('Li: 13.96%', 146360)

In [55]:
votes_otooley=len(election_data[election_data["Candidate"]=="O'Tooley"])
votes_otooley
"Otooley: {}".format(votes_otooley)

'Otooley: 31586'

In [56]:
percentage_otooley=votes_otooley/total_votes
percentage_otooley2=("O´Tooley: "+"{:.2%}".format(percentage_otooley))
percentage_otooley2, votes_otooley

('O´Tooley: 3.01%', 31586)

In [57]:
print("Total votes: {}".format(total_votes))
print("----------------------")
print(percentage_khan2, votes_khan)
print(percentage_correy2, votes_correy)
print(percentage_li2, votes_li)
print(percentage_otooley2, votes_otooley)
print("----------------------")
print("Winner: Khan with {} votes".format(votes_khan))

Total votes: 1048575
----------------------
Khan: 63.09% 661583
Correy: 19.94% 209046
Li: 13.96% 146360
O´Tooley: 3.01% 31586
----------------------
Winner: Khan with 661583 votes

In [58]:
election_Data.to_excel("../homework2_solved.xlsx", index=False)

NameError: name 'election_Data' is not defined